.card {
	position: relative;
}

.card img {
	width: 100%;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.87);
	border-radius: 0.5em;
	will-change: filter;
}

.card img:hover {
	filter: drop-shadow(0 0 0.5em #646cffaa);
}

.card .front {
	transform: rotateY(90deg);
	transition: all ease-in 0.2s;
	position: absolute;
	z-index: 1;
}

.flipped .front {
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.card .back {
	transition: all ease-in 0.2s;
	transition-delay: 0.2s;
}

.flipped .back {
	transform: rotateY(90deg);
	transition-delay: 0s;
}
